.slider {
    position: relative;
    overflow: hidden;
}

.h-screen {
    height: 100vh;
    background-size: cover;
    background-position: center;
    will-change: transform, opacity;
}
::-webkit-scrollbar {
    display: none; /* 크롬 및 사파리에서 스크롤바를 숨깁니다 */
}
